@model Annonssystem.Models.PrenumerantDetalj

<!DOCTYPE html>
<html>
<head>
    <title>Prenumerant information</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>

<body>
    <h3>Prenumerant information</h3>

    <form method="get" action="@Url.Action("GetPrenumerant", "Home")">
        <label for="prenumerationsnummer">Ange prenumerationsnummer:</label>
        <input type="text" id="prenumerationsnummer" name="prenumerationsnummer">
        <button type="submit">Search</button>
    </form>
    <br />
    @if (Model != null)
    {
        <table>
            <tr>
                <th>Prenumerationsnummer </th>
                <th>Personnummer </th>
                <th>Förnamn </th>
                <th>Efternamn </th>
                <th>Telefonnummer </th>
                <th>Utdelningsadress </th>
                <th>Postnummer </th>
                <th>Ort</th>
            </tr>
            <tr>
                <td>@Model.pr_prenumerationsnummer</td>
                <td>@Model.pr_personnummer</td>
                <td>@Model.pr_fornamn</td>  
                <td>@Model.pr_efternamn</td>
                <td>@Model.pr_telefonnummer</td>
                <td>@Model.pr_utdelningsadress</td>
                <td>@Model.pr_postnummer</td>
                <td>@Model.pr_ort </td>
                <td>
                    @Html.ActionLink("Edit", "EditPrenumerant", new {  id=@Model.pr_prenumerationsnummer  })
                    @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                </td>
            </tr>
            
        </table>
        
    }
    else
    {
        <p>Ingen prenumerant hittades med det angivna prenumerationsnumret.</p>
    }
    <br />
    @Html.ActionLink("Skapa annons", "PostAds", "Home", null, new { @class = "btn btn-primary" })

</body>
</html>
