@model IEnumerable<Annonssystem.Models.PrenumerantDetalj>

@{
    ViewData["Title"] = "testaGet";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pr_prenumerationsnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_personnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_fornamn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_efternamn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_telefonnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_utdelningsadress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_postnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_ort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pr_prenumerationsnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_personnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_fornamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_efternamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_telefonnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_utdelningsadress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_postnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_ort)
            </td>
           
        </tr>
}
    </tbody>
</table>
